extends layouts/main

block content
    ul
        li
            a(href="/accounts"+routes.editProfile) Edit Profile 
        li
            a(href="/accounts"+routes.changePassword) Change Password
    article
        div
            div
                button#btn
                    img(src=`${loggedUser.profilePhoto}`, alt="Change Profile Photo" width="50" height="50")
                div
                    form#form(action="/accounts"+routes.editProfile, method="post" enctype="multipart/form-data")
                        input(type="file", name="profilePhotoFile" accept="image/*")
                script.
                    const btn = document.getElementById("btn");
                    const input = document.querySelector("#form input");
                    const handleClick = (event) => {
                        event.preventDefault();
                        input.click();
                        input.addEventListener("change", async () => {
                            //- const formData = new FormData(document.getElementById("form"));
                            document.getElementById("form").submit(),
                            await fetch("/accounts/edit", {
                                method:"POST",
                                //- body: JSON.stringify(formData)
                            })
                        })
                    }
                    btn.addEventListener("click", handleClick);
            div 
                h1 username
                button(type="button")
                div
                    form(action="/accounts"+routes.editProfile, method="post" enctype="multipart/form-data")
                        input(type="file", name="profilePhotoFile" accept="iamge/*")
        form(action="", method="post")
            div
                aside
                    label Name
                div
                    div(sylte="width: 100%; max-width: 355px;")
                        input(type="text" placeholder="Name" value=`${loggedUser.name}`)
                    div(sylte="width: 100%; max-width: 355px;")
                        div Help people discover your account by using the name you're known by: either your full name, nickname, or business name.
                        div You can only change your name twice within 14 days.
            div
                aside
                    label Username
                div
                    div(sylte="width: 100%; max-width: 355px;")
                        input(type="text" placeholder="Username" value=`${loggedUser.username}`)
                    div(sylte="width: 100%; max-width: 355px;")
                        div In most cases, you'll be able to change your username back to ymh3190 for another 14 days.
            div
                aside
                    label Website
                div
                    div(sylte="width: 100%; max-width: 355px;")
                        input(type="text" placeholder="Website" value="")
            div
                aside
                    label Bio
                div
                    textarea 요리 풍경 운동 구절
            div
                aside
                    label
                div
                    div(sylte="width: 100%; max-width: 355px;")
                        div
                            h2 Personal Information
                        div Provide your personal information, even if the account is used for a business, a pet or something else. This won't be a part of your public profile.
            div
                aside
                    label Email
                div
                    div(sylte="width: 100%; max-width: 355px;")
                        input(type="text" placeholder="Email" value=`${loggedUser.email}`)
            div
                aside
                    label Phone Number
                div
                    div(sylte="width: 100%; max-width: 355px;")
                        input(type="text" placeholder="Phone Number" value=`${loggedUser.phoneNumber}`)
            div
                aside
                    label Gender
                div
                    div(sylte="width: 100%; max-width: 355px;")
                        button(type="button")
                            input(type="text" value="")
            div
                aside
                    label
                div
                    div(sylte="width: 100%; max-width: 355px;")
                        button(type="button") Submit
                        