extends layouts/main

block content
    header
        div
            button
                img(src=`/static/59950687.png`, alt="Change Profile Photo")
        section 
            div
                h2=loggedUser.username
                div
                    a(href=routes.edit) edit profile
                div
                    button
                        i.fas.fa-cog
            ul
                li 
                    span
                        span 27
                        | posts
                li 
                    a(href=`${routes.user(loggedUser.username)}/followers`) 
                        span 27
                        | followers
                li 
                    a(href=`${routes.user(loggedUser.username)}/following`) 
                        span 27
                        | following
            div
                h1 name
                br
                span description
    div
        a(href=routes.user(loggedUser.username))
            i.far.fa-list-alt
            span posts
        a(href=routes.channel(loggedUser.username))
            i.fas.fa-film
            span igtv
        a(href=routes.saved(loggedUser.username))
            i.far.fa-bookmark
            span saved
        a(href=routes.tagged(loggedUser.username))
            i.fas.fa-portrait
            span tagged
    div
        article
            div
                div
                    div
                        img(src="/static/59950687.png", alt="Photo")
                div 
                    div
                        img(src="/static/59950687.png", alt="Photo")
                div 
                    div
                        img(src="/static/59950687.png", alt="Photo")
