header
    div
        div
            a(href=routes.home) Outstagram
        div#focus
            input#search(type="text" placeholder="Search")
            div
                div(aria-hidden="false")
                    div
                        h4 Recent
                        if loggedUser.searchUsers.length !== 0
                            button(type="button") Clear All
                    if loggedUser.searchUsers.length === 0
                        div
                            div No recent searches.
                    else
                        ul
                            each searchUser in loggedUser.searchUsers
                                div
                                    a(href=`${routes.user(searchUser.username)}`)
                                        div
                                            div
                                                a(href=`${routes.user(searchUser.username)}`)
                                                    img(src=`${searchUser.profilePhoto}`, alt="Profile Photo") 
                                            div
                                                div(id=`${searchUser.id}`)
                                                    div=searchUser.username
                                                div 
                                            div 

        script.
            const root = document.querySelector(".root");
            const focus = document.getElementById("focus");
            const search = document.getElementById("search");
            let isFocus = false;
            
            const handleClick = (event) => {
                if (event.target !== focus) {
                    isFocus = false;
                    search.addEventListener("focus", handleFocus);
                }
            }
            const handleKeydown = () => {
                fetch("/api/search/user", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        search: search.value
                    })
                });
            }
            const handleFocus = (event) => {
                event.preventDefault();
                isFocus = true;
                
                search.removeEventListener("focus", handleFocus);
                search.addEventListener("keydown", handleKeydown);
                root.addEventListener("click", handleClick);
            }
            search.addEventListener("focus", handleFocus);
        div
            div
                a(href="/create"+routes.createPost)
                    i.far.fa-plus-square
                a(href=routes.home)
                    i.fas.fa-home
                a(href="")
                    i.far.fa-map
                a(href=routes.explore)
                    i.far.fa-compass
                a(href="") 
                    i.far.fa-heart
                a(href=routes.user(loggedUser.username))
                    i.far.fa-user-circle
                a(href="/accounts"+routes.logout) logout
