footer
    nav
        ul
            li
                a(href=routes.home) 
                    i.fas.fa-home
            li
                a(href=routes.search)
                    i.fas.fa-search
            li
                a(href=routes.post) 
                    i.far.fa-plus-square
            li
                a(href=routes.activity) 
                    i.far.fa-heart
            li
                a(href=routes.user) 
                    i.far.fa-user