header
    div
        button
            img(src=`${loggedUser.profilePhoto}`, alt="Change Profile Photo" width="100" height="100")
    section 
        div
            h2=loggedUser.username
            div
                a(href="/accounts"+routes.editProfile) edit profile
            div
                button
                    i.fas.fa-cog
        ul
            li 
                span
                    span 27
                    | posts
            li 
                a(href=`${routes.user(loggedUser.username)}/followers`) 
                    span 27
                    | followers
            li 
                a(href=`${routes.user(loggedUser.username)}/following`) 
                    span 27
                    | following
        div
            h1=loggedUser.name
            br
            span=loggedUser.bio
            a(href=`${loggedUser.website}`)=loggedUser.website
            