header
    div
        button#btn
            img(src=`${loggedUser.profilePhoto ? loggedUser.profilePhoto : ""}`, alt="Change Profile Photo" width="100" height="100")
    div(style="display: none;")
        form#form(method="post" enctype="multipart/form-data")
            input(type="file", name="profilePhotoFile" accept="image/*")
    script.
        const btn = document.getElementById("btn");
        const input = document.querySelector("#form input");
        const url = window.location.href;
        const handleClick = (event) => {
            event.stopPropagation();
            input.click();
            input.addEventListener("change", () => document.getElementById("form").submit(), () => {
                fetch(url, { method: "POST" })
            })
        }
        btn.addEventListener("click", handleClick);
    section 
        div
            h2=loggedUser.username
            div
                a(href="/accounts"+routes.editProfile) edit profile
            div
                button
                    i.fas.fa-cog
        ul
            li 
                span
                    span 27
                    | posts
            li 
                a(href=`${routes.user(loggedUser.username)}/followers`) 
                    span 27
                    | followers
            li 
                a(href=`${routes.user(loggedUser.username)}/following`) 
                    span 27
                    | following
        div
            h1=loggedUser.name
            br
            span=loggedUser.bio
            a(href=`${loggedUser.website}`)=loggedUser.website
            